/* .contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
} */
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');


.carousel {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}


.carousel__contenedor {
	
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	font-size: 2.7rem;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #ff9800;
	/* opacity: 20%; */
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		/* padding: 40px 0; */
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

.carousel__elemento a img {
	width: 98%;
}

.carousel__elemento p{
	font-size: 2rem;
	font-weight: bold;
    color: #524C4C;
}