
h1 {font-size: 1.5rem;
    color: #FFAB00;
text-align: center;
padding-top: 40px;}

main {background-color: #FFFAFC;}

a { color: #565964;}

.perfilrefugio {width: 200px;
    height: 200px;
    border-radius:50%;}

.container{
    display: block;
    width: 90vw;
    height: calc(75*90vw);
    max-width: 800px;
    max-height: 600px;
    border: 1px solid gray;
    margin: 1em auto;
    box-shadow: 2px 2px 2px silver;
    border-radius: 4px;}

 .divrefugios { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;}

.divperfil {width: 200px;
height:200px;
margin: 60px;
margin-bottom: 15px;
border-radius: 50%;
justify-content: center;
box-shadow: 5px -5px 23px 0px #738CE8;}

.div1, .div2 , .div3 {
    display: flex;
     flex-direction: column;}

.reftitulo {text-align: center;} 

.mapa {width: 100%; }
    
.perrito {
    display: flex;
    align-items: flex-start;}

 #perritorefugio {
     width: 40vw;
     margin-left: 0px;
    }
#dialogorefugio {
  align-content: flex-start;
  width: 40vw;}

/* ---------------Inicio Codigo botones----------------- */
.reftitulo{
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
}
.reftitulo:hover {
  background: #F6F9FE;
  color: #FFAB00;
}
.reftitulo:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}
.reftitulo:focus {
  outline: none;
  border: 2px solid #4285f4;
}
.reftitulo:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.reftitulo:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}
.reftitulo:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.reftitulo:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.reftitulo:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
/*---------------------fin codigo BUTTON----------*/
     

 @media screen and (min-width: 768px ) {
    #perritorefugio {
    margin-left: 0px;} }

  @media screen and (min-width: 1021px) {
    .divrefugios { 
    display: flex;
    justify-content: space-around;}

  #perritorefugio {
    width: 30vw;
    height: 40vw;}

  #dialogorefugio {
    align-content: flex-start;
    width: 30vw;}

  .perrito {
   width: 100vw;
    justify-content: flex-start;}
     }