
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Poppins:wght@600;700;800&display=swap');
:root {
    --color-yellow: #ffe0e9;
    --color-pink: #FFF9ED;
    --color-letteryellow: #FFAB00;

    --color-white: #F5F5F5;
    --color-lettergray: #524C4C;
    --color-bluelight: #84FFF0;  
}

* { padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;}
   
body {
    font-family: 'Poppins', sans-serif;
    color: #FFAB00;}

header {
    width:100%;
    height:125px;
    background-color: #738CE8  ; }

nav {
    height:100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;}

main {background-color: #FFFAFC;}

.logo {    width: 400px;
    margin-top: 30px;
    margin-left: -140px;
}

.bar-btn { font-size: 25px;
    color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    z-index: 1;
    width:100%;
    height:0vh;
    top: 120px;
    background: #FFA4BF;
   text-align: center;
    transition: all .5s;
}
.nav-menu li {
    display:none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;}

.nav-menu li a {
    color: #FFFFFF;
    font-size: 16px;
    text-transform:uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{ 
    color:#FF9800;
    transition: .3s;
}
#check {
    display:none;
}
#check:checked ~ .nav-menu {
    height: 100vh;
}
#check:checked ~ .nav-menu li {
    display:block;
}
.buscar{
    position: absolute;
    padding: 5px;
     left: 125px;
}

.buscar input {
    width: 0px;
    height: 35px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.btn{
    position: absolute;
    top: 0;
    right: 5px;
    background: #FFAB00;
    width: 48px;
    height: 48px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.buscar:hover input{
    width: 200px;
}

.buscar input:focus{
    width: 200px;
}

@media screen and (min-width: 768px ) {

#check {display:none; }

.bar-btn { display: none;
    font-size: 25px;
    color: #FFAB00;
    margin-right: 20px;
    cursor: pointer;}
        
.nav-menu{ position: relative;
     display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0, 10px;
    width: 70%;
    height: 100px;
    top: 0;
    background: none;
    text-align: center;
    transition: none;
    }
    
.nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
    }
    
.buscar input:focus{
        width: 180px;
    }
.buscar input{ 
    transition: none;} }

 

@media screen and (min-width: 1021px) {
  
.nav-menu {
    position: relative;
    display: flex;
    justify-content: end;
    margin-right: 35px;
    height: 100px;
    bottom: 80px;
    top:0;
    background: none;
    transition: none;
    text-align: right;}


.nav-menu li {
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
    transition: none;}

.buscar input {
    width: 450px;}
} 
.div-img h4{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
.div-img img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
.contenedor-imagenes{
    display: flex;
    justify-content: center;
    gap: 30%;
    margin: 7%;
}
@media screen and (max-width: 1080px) {
  .contenedor-imagenes {
    justify-content: center;
    flex-direction: column;
  }
  .div-img img{
    margin: 40px 0px 0px 10px;
    width: 80vw;
    height: 80vw;
  }
}
/***************FOOTER************************/

.piepagina {
    width: 100%;
    background:#FFA7C0;
    
}

.piepagina .foot{
    padding: 20px;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#form-mensaje{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input,textarea {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border:none;
}
textarea {
    height: 114px;
}
.btn-enviar {
    display: block;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    background-color: #FFA7C0;
    color: white;
    border-color: white;
}

.piepagina .foot .box {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start ;
    margin-bottom: 10px;
     
}
.piepagina .foot .box h2{
    color: white;
    margin-bottom: 7px;
    font-size: 1.6rem;
    text-align: center;
}
.piepagina .foot .box a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
img{ /** logo */
 width: 30%;
 height: auto;

}
#logo-footer {
    width: 20%;
    height: auto;
    margin-right: 10px;
}

/* logos redes sociales */
.box a img{
    width: 160px;
    height: 100px;
    margin-left: -40px; 
}
.caja-redes-enlaces{
      width: 45%;
      height: auto;  
      display:flex;
      justify-content: space-evenly;
}



@media (max-width: 500px) {/** celular */
    html {
        font-size: 55%;
      }
    #home-caja1 img {
        width: 50%;
    }
    #home-caja2 {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #contenedor-patitas a {
        margin-top: 70px;
    }
    #contenedor-patitas a span {
        font-size: 3.3rem;
    }
    #contenedor-patitas a span , #contenedor-patitas a img{
        margin-left: 2rem;
    }
    #contenedor-patitas a img{
        width: 23%;
    }
    .patitas-elemento {
        max-width: 326px;
    }
    #home-caja3 h1 {
        font-size: 5rem;;  
    }
    #contenedor-patitas {
        
        flex-direction: column;
    }
    #eslogan p {
        font-size: 2.3rem;
        line-height: 1.2;
        width: 50%;
        text-align: center
    }

    #curiosidades-items {
   
        height: 329px;
  
    }
    #curiosidades-items {
   
        display: none;
  
    }
    .perrito {
        margin-left: 51%;
    }

    .burbuja {
        display: none;
    }
    .foot {
        width: 100%;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .piepagina .foot .box {
        width: 75%;
    }
    .piepagina .foot .box h2 {
        font-size: 3.4rem;
    }
    .piepagina .foot .box a {
        font-size: 2.1rem;
    }

    .caja-redes-enlaces{
        width: 100%;
        height: auto;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #logo {
        justify-self: flex-end;
    }
    img {
        width: 50%;
    }
    #logo-footer {
        width: 40%;

    }



}
@media (min-width: 500px) and ( max-width: 1020px) { /* tablet */
    html {
        font-size: 58%;
      }
    #eslogan p {
        font-size: 3.7rem;
    }
    #contenedor-patitas a span {
        font-size: 3rem;
    }
    #contenedor-patitas a img {
        width: 30%;
    }
    .patitas-elemento {
        max-width: 244px;
    }
    #contenedor-patitas {
        flex-wrap: wrap;
    }

    #curiosidades-items {
   
        display: none;
  
    }
    #home-caja3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    #home-caja3 h1 {
        font-size: 9rem;
        margin-left: 18%;  
    }
    .perrito {
        margin-left: 0;
    }

    .piepagina .foot .box {
        width: 31%;
    }

    .caja-redes-enlaces{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .piepagina .foot .box a {
        font-size: 1.7rem;
    }
    .piepagina .foot .box h2 {
        font-size: 3.6rem;
    }

}

@media (min-width: 500px) and  (max-width: 890px) {

    .perrito {
        margin-left: 71%;
    }
}