
h1 {color: #FF9800;
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5rem;
    padding-top: 40px;}

main {background-color: #FFFAFC;}

.mapa{
    display: block;
    width: 90vw;
    height: calc(75*90vw);
    max-width: 800px;
    max-height: 600px;
    border: 1px solid gray;
    margin: 1em auto;
    box-shadow: 5px -5px 23px 0px #738CE8;;
    border-radius: 4px;}

.perrito {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: -220px;}

h2{
    position: relative;
    margin-left: 10px;}

#dialogovete {
    width: 380px;
    margin-top: 120px;
    margin-left: 220px;}

#perritovete {
    margin-right: 220px;
    margin-left: -180px;}

#map{height: 500px;
	width: 100%;}

@media screen and (min-width: 1021px) 
{#dialogovete {width: 380px;}}